<!DOCTYPE html>
<html>
  <head>
    <title>SQL Query Tool</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>

  <body>
    <div class="header">
        <a href = "./index.html"><h1>Learning Management System</h1></a>
    </div>
    <div class="content">
      <form action="/" method="post">
        <div class="input-container">
          <textarea id="query" 
                    name="query"
                    oninput = "this.style.height = ''; this.style.height = (this.scrollHeight-20) + 'px';"
                    placeholder="Enter SQL Query here">{{ last_query }}</textarea>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
      </form>
      {% if result %}
      <div class="result-container">
        {{ result|safe }}
      </div>
      {% endif %}

      {% if error %}
        <div class="error-container">
          <div class="error-title">{{ error | safe }}</div>
        </div>
      {% endif %}

    </div>
    <div class = "footer-container">
      <!-- Add link to sample queries page -->
      <div>
        <p><a href="./sample_queries.html">Sample Queries</a></p>
      </div>
      <div>
        <p><a href="https://github.com/sashankneupane7/mysql-lms" target = "_blank">View on GitHub</a></p>
      </div>
    </div>

    <script>
      // Get the textarea element
      const textarea = document.getElementById("query");
      // Set the height of the textarea based on its content
      textarea.style.height = "";
      textarea.style.height = (textarea.scrollHeight - 20) + "px";
    </script>
    
  </body>

</html>